body {
  padding-top: 5rem;
  background-color: rgb(0, 28, 46);
  margin:0;
  /* background:url("../src/resources/splash.png") no-repeat 50% 50% fixed; */
  /* background-size: cover; */
  font-size: 13px;
  color: rgb(172, 200, 228);
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* AWS SignIn Button */
.Button__button___3XjN7 {
  background-color: rgb(61, 83, 116);
  border: none;
  color: white;
}

/* AWS SignIn Button */
.Button__button___3XjN7:active {
  background-color: rgb(61, 83, 116);
}

/* Bootstrap Lead Display Heading */
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: rgb(172, 200, 228);
}
/* Buttons styles start */

.btn {
  background: #65a9d7;
  color: white;
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}

.btn:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}

.btn:active {
  border-top-color: #1b435e;
  background: #1b435e;
}
/* Button styles end */
