
/* AWS SignIn Button */
.Button__button___3XjN7 {
    background-color: #20a8d8;
    border: none;
    color: white;
  }
  
  /* AWS SignIn Button */
  .Button__button___3XjN7:active {
    background-color:#20a8d8;
  }