// Here you can add other styles
/* AWS SignIn Button */
.Button__button___3XjN7 {
    background-color: rgb(61, 83, 116);
    border: none;
    color: white;
  }
  
  /* AWS SignIn Button */
  .Button__button___3XjN7:active {
    background-color: rgb(61, 83, 116);
  }